body {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  background: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  color: white;
  font-weight: 600;
}

body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: rgb(0, 0, 0, .15);
  backdrop-filter: blur(15px);
}

.regular-text {
  font-weight: 400;
}

.main-container {
  width: 300px;
  height: 500px;
  background: linear-gradient(to top, rgb(0, 0, 0, .15), rgb(255, 255, 255, .15));
  border-radius: 15px;
  backdrop-filter: blur(100px);
  z-index: 5;
  padding: 20px 15px;
}

.header-inner {
  position: relative;
  margin-bottom: 25px;
}

.input-city {
  width: 100%;
  padding: 5px 15px;
  outline: none;
  background: rgb(0, 0, 0, .15);
  border-radius: 99px;
  border: 3px solid transparent;
  padding: 10px 15px;
  font-weight: 500;
  transition: 0.3s all;
  color: white;
  padding-right: 45px;

}

.input-city:focus {
  border: 3px solid rgb(0, 0, 0, .15);
}

.input-city::placeholder {
  color: rgb(255, 255, 255, 0.75);
}

.search-city {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  color: white;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.location-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.weather-summary-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}